# 🌐 App Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
PORT=3000

# ⚡ Supabase (Отримати в Project Settings > API)
NEXT_PUBLIC_SUPABASE_URL=https://your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=

# PWA keys 
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=